* {
	box-sizing: border-box;
}

body {
	/* background-image: url("../images/bg2.png"); */
	padding-bottom: 70px;
}

#main-container {
	margin-bottom: 20px;
}

.main-container {
	background-color: #efefef;
}


.form-inline {
	float: left;
}

.nav.nav-pills {
	float: right;
	display: inline-block;
	margin-top: 5px;
}


.mypic {
	width: 350px;
	margin-right: 10px;
	height: auto;
	float: left;
	border: dotted 1px #efefef;
}

.para {
	text-align: justify;
}

/* side bar */

.sidebar {
	text-align: center;
	border: dotted 2px #efefef;
	padding-bottom: 10px;
	background-image: url("../images/bg2.png");
}

.social {
	width: 59px;
	height: 57px;
	margin-right: 5px;
	margin-top: 8px;
}

/* footer */

#footer {
	background-color: #666;
	padding: 10px;
	border-top: 3px solid #4aaaa5;
	text-align: center;
}

#foot1 {
	color: white;
	text-align: center;
}

/* portfolio */

.work {
	overflow: auto;
	position: relative;
	height: 275px;
	float: left;
	text-align: center;
}

.work img {
	width: 100%;
}

.work h3 {
	position: absolute;
	bottom: 50px;
	line-height: 30px;
	text-align: center;
	width: 100%;
	margin-right: 15px;
}

/* contact page */

#contact-form ul {
	margin-bottom: 20px;
}

#contact-from li {
	margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
	display: block;
	width: 100%;
}

input[type=text],
input[type=email],
textarea {
	height: 35px;
	border: 1px solid #ddd;
	padding: 0 10px;
	font-size: 14px;
}

textarea {
	height: 200px;
}

input[type=submit] {
	background: #4aaaa5;
	border: 0 none;
	color: #fff;
	font-size: 18px;
	padding: 10px 30px;
	cursor: pointer;
	border-radius: 5px;
	width: 100%;
}




/* 640 px screen adjustments */
@media screen and (max-width: 640px) {

	.mypic {
		width: 100%;
	}

	.para {
		text-indent: 20px;

}


